/* Common CSS use by both light and dark themes */
:root {
  --codeBlockBgColor: rgba(0, 0, 0, 0.03);
  --deleteColor: #ff6969;
  --editorAreaWidth: 750px;
  --editorColor: rgba(0, 0, 0, .7);
  --editorColor80: rgba(0, 0, 0, .8);
  --editorColor60: rgba(0, 0, 0, .6);
  --editorColor50: rgba(0, 0, 0, .5);
  --editorColor40: rgba(0, 0, 0, .4);
  --editorColor30: rgba(0, 0, 0, .3);
  --editorColor10: rgba(0, 0, 0, .1);
  --editorColor04: rgba(0, 0, 0, .03);
  --floatFontColor: rgba(0, 0, 0, .6);
  --floatBgColor: #fff;
  --floatHoverColor: rgba(0, 0, 0, .04);
  --floatBorderColor: rgba(0, 0, 0, .1);
  --floatShadow: rgba(15, 15, 15, 0.03) 0px 0px 0px 1px, rgba(15, 15, 15, 0.04) 0px 3px 6px, rgba(15, 15, 15, 0.05) 0px 9px 24px;
  --editorBgColor: rgba(255, 255, 255, 1);
  --footnoteBgColor: rgba(0, 0, 0, .03);
  --highlightColor: rgba(33, 181, 111, .4);
  --iconColor: #6B737B;
  --inputBgColor: rgba(0, 0, 0, .06);
  --itemBgColor: rgba(255, 255, 255, 0.6);
  --maskColor: rgba(232, 232, 232, .8);
  --selectionColor: rgba(0, 0, 0, .1);
  --tableBorderColor: #e5e5e5;
  --themeColor: rgba(33, 181, 111, 1);
}
